<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:context = "http://www.springframework.org/schema/context"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd"
>

<context:annotation-config />
<bean id = "answerBoardDAO" class="Model.DAO.AnswerBoardDAO"/>
<bean id = "boardWriterService" class="Service.AnswerBoard.BoardWriteService"/>
<bean id = "boardListService" class="Service.AnswerBoard.BoardListService"/>
<bean id = "answerBoardDetailService" class="Service.AnswerBoard.AnswerBoardDetailService"/>
<bean id = "answerBoardReplyService" class="Service.AnswerBoard.AnswerBoardReplyService"/>
<bean id = "answerBoardReplyProService " class="Service.AnswerBoard.AnswerBoardReplyProService"/>

</beans>